<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_secret</key>
	<string>O7KoIWZ2JAwijrLb8785Q3Z0OjP3yd</string>
	<key>client_id</key>
	<string>c723ca9275e0403ab8a652e94c5820cc</string>
</dict>
</plist>
